<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    {% load static %}
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
</head>
<body>
    <div>
        <h1 id='test'>Test App</h1>
        <h2 id='home'>Dashboard</h2>
        <a href='/logout' id='sign'>Log out</a> 
    </div>
    <hr><br><br>

    <h1 id='edit'>Edit User# {{user.id}}</h1>
    <a id='return' href='/dashboard/admin'>Return to Dashboard</a><br><br>
    {% if messages %}
    <ul id='error' class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id='info'>
        <h2>Edit Information</h2>
        <form action='/users/update/{{user.id}}' method='POST'>
        {% csrf_token %}
            <p>Email address:
                <input type='text' name='email' value='{{user.email}}'>
            </p>
            <p> First_name:
                <input type='text' name='fname' value='{{user.first_name}}'>
            </p>
            <p> Last_name:
                <input type='text' name='lname' value='{{user.last_name}}'>
            </p>
            <p>User Level:</p>
            <select name='level_admin'>
                {% if user.level_admin == 1 %}
                <option value='{{user.level_admin}}'>Normal</option>
                <option value='9'>Admin</option>
                {% else %}
                <option value='{{user.level_admin}}'>Admin</option>
                <option value='1'>Normal</option>
                {% endif %}
            </select>
            <input type='submit' id='save' value='Save'>
    </div>
        </form>

    <div id='pw'>
        <h2>Change Password</h2>
        <form action='/users/change_password/{{user.id}}' method='POST'>
        {% csrf_token %}
            <p>Password:
                <input type='password' name='pw'>
            </p>
            <p>Confirm Password:
                <input type='password' name='confirm_pw'>
            </p><br>
            <input type='submit' id='update' value='Update Password'>
        </form>
    </div>
</body>
</html>