<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    
</head>

<body>
    <div>
        <h1 id='test'>Test App</h1>
        <h3 id='home'>Home</h3>
        <a href='/sign_in' id='sign'>Sign In</a> 
    </div>
    <hr>

    <div id='main'>
        <h4>Welcome to the Test</h4>
        <p>We're going to build a cool application using a MVC framework! This application was built with the Village88 folks!</p>
        <a href='/sign_in'>Start</a>
    </div>


    
</body>

</html>